.ta-center {
  text-align: center;
}

.ma-bt-sm {
  margin-bottom: 1.5rem !important;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.ma-bt-xlg {
  margin-bottom: 4.5rem !important;
}

.fc-danger {
  color: $color-danger;
}
